<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Admin Panel</h1>
        <ul>
            <li><a href="/">Главная</a></li>
            <li><a href="/reports">Отчетность</a></li>
            <li><a href="/analytics">Аналитические задачи</a></li>
        </ul>
        <!-- Добавьте формы для управления банкоматами, картой, механиками и машинами инкассации -->
    </div>
</body>
</html>